// COLORES
$colorPrincipal: #B9AEA1;
$colorSecundario: #271F1F;
$colorTerciario: #8A6139 ;
$colorCuarto: #624132;
$blanco: #fff;
$negro: #000;

// FUENTES

$fuentePrincipal: 'Roboto', sans-serif;
$fuenteSecundaria: 'Open Sans', sans-serif;
$delgada: 300;
$regular: 400;
$bold: 700;

// SEPARACION
$separacion: 4rem;